@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 20%, 98%;
    --foreground: 0, 0%, 15%;
    --border: 0 0% 89.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0, 0%, 96%;
    --border: 0 0% 14.9%;
  }
}

@keyframes bounce-delay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.prata-regular {
  font-family: "Prata", serif;
}

.bg-global-famili {
  background-image: url("/Famili.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
